[submodule "flowtron"]
	path = flowtron
	url = git@github.com:christhetree/flowtron.git
	branch = cm--scrapl

[submodule "hifigan"]
	path = hifigan
	url = git@github.com:christhetree/hifigan.git
    branch = cm--scrapl

[submodule "speechbrain"]
	path = speechbrain
	url = git@github.com:christhetree/speechbrain.git
	branch = cm--scrapl
