aiohttp==3.11.7
appdirs==1.4.4
auraloss==0.4.0
black==24.10.0
configparser==7.1.0
dasp-pytorch==0.0.1
docstring-parser==0.16
hessian-eigenthings==0.0.2
importlib-metadata==8.0.0
ipython==8.37.0
jaraco.collections==5.1.0
jsonargparse==4.34.0
lightning==2.4.0
magic-clamp==0.0.4
matplotlib==3.9.2
msclap==1.3.3
nnaudio==0.3.3
nvitop==1.3.2
pip-chill==1.0.3
pyloudnorm==0.1.1
tensorboard==2.18.0
typeshed-client==2.7.0
uv==0.5.4
wandb==0.18.7
