aiohttp==3.10.0
auraloss==0.4.0
black==24.4.2
docstring-parser==0.16
hypy-utils==1.0.22
importlib-metadata==8.0.0
jaraco.text==3.12.1
jsonargparse==4.32.0
kymatio==0.4.0.dev0
librosa==0.10.2.post1
lightning==2.3.3
matplotlib==3.9.1
nnaudio==0.3.3
nvitop==1.3.2
ordered-set==4.1.0
pandas==2.2.2
pip-chill==1.0.3
resampy==0.4.3
schedulefree==1.2.7
tensorboard==2.17.0
torchaudio==2.2.2
torchvision==0.17.2
typeshed-client==2.7.0
uv==0.2.32
wandb==0.17.5
